#container {
	position:fixed;
	height:165px;
	width:99%;
	border-radius:2px;
	background-color:#FFFFFF;
}
#top {
	position:fixed;
	top:25px;
	left:25px;
	font-family: 'Homemade Apple', cursive;
	font-size:48px;
	color:#4B819A;
	
}
#navbar {
	position:relative;
	top:110px;
	left:100px; 
	margin-bottom:50px; 
}
a {
	text-decoration:none;
	color:#4B819A;
}
ul li a {
	padding:10px;
}
ul li a:hover {
	color:#000000;
}
li {
	display: inline;
	font-family: 'Homemade Apple', cursive;
	font-style: normal;
	font-weight: 400;
	font-size:26px;
	padding: 35px;
}	
table {
	position:relative;
	float:left;
    top:175px;
    left:182px; 
   	width:1000px;
}	
#words {
	padding: 15px 15px 15px 0px;
}
p {
	font-family: 'Text Me One', sans-serif;
}
#picture {
	padding:15px 0px 15px 15px;
	position:fixed;
	top:250px;
	left:500px;
}
	