a {
	text-decoration:none;
	font-size:32px;
	font-family:Impact;
	color:#4B819A;
}
#navbar {
	margin-bottom:100px;

}
nav {
	display:inline;
}
nav a {
	float:right;
	padding:10px;
}
nav a:hover {
	color:#3E4C81;
}


#content {
	font-family:Helvetica;
	text-align:center;
	clear:right;
	display:block;
}
.button {
	
	display:inline-block;
	margin:10px;
	border:15px solid #E6E8FA;
	border-radius:4px;
}
